/* input[type="number"] {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  -moz-appearance: textfield;
  appearance: textfield;
} */

input.number-field {
  border: 1px solid var(--bg-secondary-transparent);
  background: var(--bg);
  outline: none;
  transition: border 0.2s ease-in-out;
}

input.number-field:focus {
  border: 1px solid var(--fg-tertiary);
}
