/* .blessing-gold-img {
  will-change: filter;
  filter: drop-shadow(0 0 0.75rem #fff7c7);
}

.blessing-blue-img {
  will-change: filter;
  filter: drop-shadow(0 0 0.75rem #c7e0ff);
}

.blessing-purple-img {
  will-change: filter;
  filter: drop-shadow(0 0 0.75rem #e6c7ff);
}

.blessing-ultimate-img {
  will-change: filter;
  filter: drop-shadow(0 0 0.75rem #fff6dd);
}

.blessing-negative-img {
  will-change: filter;
  filter: drop-shadow(0 0 0.75rem #ffdddd3f);
}

.blessing-gray-img {
  will-change: filter;
  filter: drop-shadow(0 0 0.75rem #e5e5e5);
} */
