@import "https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap";
@import "./star.css";

:root {
  --bg: #f5f5f5;
  --fg: #1f1f1f;
  --bg-secondary: #e5e5e5;
  --fg-secondary: #525252;
  --fg-tertiary: #848484;
  --bg-secondary-hover: #d9d9d9;
  --bg-tertiary: #d9d9d9;
  --bg-secondary-transparent: rgba(229, 229, 229, 0.5);
  --bg-transparent: rgba(245, 245, 245, 0.5);
  --primary: #4868c1;
  --secondary: #ffd166;
  --tertiary: #33d69f;
  --quaternary: #6a5af9;
  --quinary: #8b5cf6;
  --senary: #a855f7;
  --destructive: #9a3434;
  --destructive-hover: #b34c4c;

  --bg-gradient: radial-gradient(ellipse at bottom, #7eabbe 0%, #ccd2f3 100%);
}

[data-theme="dark"] {
  --bg: #1f1f1f;
  --fg: #f5f5f5;
  --bg-secondary: #2d2d2d;
  --fg-secondary: #b5b5b5;
  --fg-tertiary: #848484;
  --bg-secondary-hover: #4d4d4d;
  --bg-tertiary: #4d4d4d;
  --bg-secondary-transparent: rgba(45, 45, 45, 0.5);
  --bg-transparent: rgba(31, 31, 31, 0.5);
  --primary: #88a3f1;
  --secondary: #ffd166;
  --tertiary: #33d69f;
  --quaternary: #6a5af9;
  --quinary: #8b5cf6;

  --bg-gradient: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

html,
body {
  background: var(--bg-gradient);
  color: var(--fg);
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  scroll-behavior: smooth;
  min-height: 100vh;
}

a {
  color: var(--fg);
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: var(--primary);
  text-decoration-style: solid;
}

dialog {
  position: fixed;
  color: var(--fg-secondary);
  background: var(--bg);
  max-width: 600px;
  border-radius: 0.5rem;
  border: 1px solid var(--bg-secondary);
  @apply px-4 sm:px-8 py-4;
  @apply shadow;
  margin: auto;
}
dialog::backdrop {
  background: var(--bg-transparent);
}
