/* 滚动条细化 */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #77777760;
  background-clip: padding-box;
  min-height: 28px;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #77777770;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

.no-scroll-bar {
  scrollbar-width: none;
}
