/* https://codepen.io/shuangcs/pen/gKbQEj */

#stars2 {
  position: fixed;
  width: 2px;
  height: 2px;
  border-radius: 1px;
  background: transparent;
  animation: star_anti 100s linear infinite;
  mix-blend-mode: screen;
  box-shadow:
    114px 658px var(--bg-secondary), 236px 768px var(--bg-secondary), 1130px 1503px var(
      --bg-secondary
    ), 486px 592px var(--bg-secondary), 1353px 1407px var(--bg-secondary), 1583px 1741px var(
      --bg-secondary
    ), 450px 1479px var(--bg-secondary), 1845px 327px var(--bg-secondary), 1520px 361px var(
      --bg-secondary
    ), 580px 1699px var(--bg-secondary), 1277px 1233px var(--bg-secondary), 1697px 943px var(
      --bg-secondary
    ), 568px 1135px var(--bg-secondary), 1273px 263px var(--bg-secondary), 788px 126px var(
      --bg-secondary
    ), 1834px 1911px var(--bg-secondary), 1147px 1652px var(--bg-secondary), 651px 567px var(
      --bg-secondary
    ), 79px 1897px var(--bg-secondary), 1590px 666px var(--bg-secondary), 1362px 566px var(
      --bg-secondary
    ), 275px 367px var(--bg-secondary), 556px 479px var(--bg-secondary), 1063px 476px var(
      --bg-secondary
    ), 1337px 1119px var(--bg-secondary), 1780px 1109px var(--bg-secondary), 1323px 1655px var(
      --bg-secondary
    ), 1740px 1165px var(--bg-secondary), 525px 60px var(--bg-secondary), 1513px 1484px var(
      --bg-secondary
    ), 708px 280px var(--bg-secondary), 429px 475px var(--bg-secondary), 563px 1360px var(
      --bg-secondary
    ), 1580px 697px var(--bg-secondary), 1702px 1164px var(--bg-secondary), 1649px 1952px var(
      --bg-secondary
    ), 1580px 1812px var(--bg-secondary), 70px 1190px var(--bg-secondary), 1100px 98px var(
      --bg-secondary
    ), 1232px 1896px var(--bg-secondary), 851px 1047px var(--bg-secondary), 851px 30px var(
      --bg-secondary
    ), 596px 1486px var(--bg-secondary), 666px 526px var(--bg-secondary), 1855px 1342px var(
      --bg-secondary
    ), 80px 531px var(--bg-secondary), 248px 1804px var(--bg-secondary), 1990px 263px var(
      --bg-secondary
    ), 1796px 1640px var(--bg-secondary), 1502px 862px var(--bg-secondary), 1780px 488px var(
      --bg-secondary
    ), 1881px 1191px var(--bg-secondary), 1063px 876px var(--bg-secondary), 1614px 1073px var(
      --bg-secondary
    ), 1414px 666px var(--bg-secondary), 1865px 289px var(--bg-secondary), 687px 352px var(
      --bg-secondary
    ), 1329px 1312px var(--bg-secondary), 279px 136px var(--bg-secondary), 475px 756px var(
      --bg-secondary
    ), 1177px 435px var(--bg-secondary), 1264px 921px var(--bg-secondary), 467px 1496px var(
      --bg-secondary
    ), 391px 1359px var(--bg-secondary), 666px 1083px var(--bg-secondary), 1526px 1251px var(
      --bg-secondary
    ), 594px 564px var(--bg-secondary), 991px 525px var(--bg-secondary), 1511px 875px var(
      --bg-secondary
    ), 1935px 1049px var(--bg-secondary), 1471px 1430px var(--bg-secondary), 959px 604px var(
      --bg-secondary
    ), 1685px 72px var(--bg-secondary), 1505px 1876px var(--bg-secondary), 509px 1627px var(
      --bg-secondary
    ), 1065px 978px var(--bg-secondary), 1860px 884px var(--bg-secondary), 1038px 464px var(
      --bg-secondary
    ), 1051px 106px var(--bg-secondary), 1056px 728px var(--bg-secondary), 1953px 45px var(
      --bg-secondary
    ), 1483px 638px var(--bg-secondary), 559px 845px var(--bg-secondary), 1184px 922px var(
      --bg-secondary
    ), 1320px 1117px var(--bg-secondary), 1572px 747px var(--bg-secondary), 1971px 43px var(
      --bg-secondary
    ), 665px 13px var(--bg-secondary), 1457px 1153px var(--bg-secondary), 848px 154px var(
      --bg-secondary
    ), 1039px 1837px var(--bg-secondary), 878px 795px var(--bg-secondary), 1286px 1705px var(
      --bg-secondary
    ), 1946px 1143px var(--bg-secondary), 1114px 1166px var(--bg-secondary), 1747px 874px var(
      --bg-secondary
    ), 1894px 636px var(--bg-secondary), 1316px 541px var(--bg-secondary), 1953px 1620px var(
      --bg-secondary
    ), 1446px 1773px var(--bg-secondary), 974px 833px var(--bg-secondary), 1814px 1211px var(
      --bg-secondary
    ), 102px 335px var(--bg-secondary), 327px 1868px var(--bg-secondary), 348px 548px var(
      --bg-secondary
    ), 353px 1540px var(--bg-secondary), 1212px 1872px var(--bg-secondary), 1968px 129px var(
      --bg-secondary
    ), 1531px 644px var(--bg-secondary), 1939px 559px var(--bg-secondary), 1397px 1876px var(
      --bg-secondary
    ), 1446px 1446px var(--bg-secondary), 1721px 603px var(--bg-secondary), 924px 1171px var(
      --bg-secondary
    ), 1086px 1954px var(--bg-secondary), 1798px 310px var(--bg-secondary), 21px 1595px var(
      --bg-secondary
    ), 1462px 1948px var(--bg-secondary), 149px 1752px var(--bg-secondary), 804px 318px var(
      --bg-secondary
    ), 1262px 636px var(--bg-secondary), 1051px 100px var(--bg-secondary), 392px 560px var(
      --bg-secondary
    ), 654px 1236px var(--bg-secondary), 1889px 1159px var(--bg-secondary), 498px 394px var(
      --bg-secondary
    ), 522px 1889px var(--bg-secondary), 1198px 579px var(--bg-secondary), 1437px 1866px var(
      --bg-secondary
    ), 1049px 1064px var(--bg-secondary), 286px 921px var(--bg-secondary), 993px 1790px var(
      --bg-secondary
    ), 1557px 1997px var(--bg-secondary), 1525px 532px var(--bg-secondary), 481px 1561px var(
      --bg-secondary
    ), 790px 683px var(--bg-secondary), 141px 17px var(--bg-secondary), 1202px 28px var(
      --bg-secondary
    ), 518px 1927px var(--bg-secondary), 90px 1677px var(--bg-secondary), 1258px 370px var(
      --bg-secondary
    ), 1379px 1536px var(--bg-secondary), 607px 474px var(--bg-secondary), 163px 139px var(
      --bg-secondary
    ), 1025px 1359px var(--bg-secondary), 815px 845px var(--bg-secondary), 231px 1212px var(
      --bg-secondary
    ), 192px 806px var(--bg-secondary), 313px 1946px var(--bg-secondary), 1132px 1808px var(
      --bg-secondary
    ), 624px 767px var(--bg-secondary), 379px 722px var(--bg-secondary), 733px 1847px var(
      --bg-secondary
    ), 628px 1517px var(--bg-secondary), 1559px 929px var(--bg-secondary), 234px 397px var(
      --bg-secondary
    ), 1230px 1231px var(--bg-secondary), 849px 726px var(--bg-secondary), 1148px 786px var(
      --bg-secondary
    ), 546px 1533px var(--bg-secondary), 477px 822px var(--bg-secondary), 1325px 480px var(
      --bg-secondary
    ), 972px 383px var(--bg-secondary), 334px 958px var(--bg-secondary), 1032px 664px var(
      --bg-secondary
    ), 1781px 40px var(--bg-secondary), 38px 1335px var(--bg-secondary), 1634px 1691px var(
      --bg-secondary
    ), 1061px 680px var(--bg-secondary), 1319px 304px var(--bg-secondary), 82px 1776px var(
      --bg-secondary
    ), 1302px 509px var(--bg-secondary), 1231px 746px var(--bg-secondary), 1264px 1509px var(
      --bg-secondary
    ), 980px 495px var(--bg-secondary), 1153px 1381px var(--bg-secondary), 1981px 1918px var(
      --bg-secondary
    ), 70px 113px var(--bg-secondary), 390px 736px var(--bg-secondary), 1882px 1925px var(
      --bg-secondary
    ), 1380px 1326px var(--bg-secondary), 257px 1681px var(--bg-secondary), 860px 998px var(
      --bg-secondary
    ), 518px 1136px var(--bg-secondary), 168px 905px var(--bg-secondary), 500px 1882px var(
      --bg-secondary
    ), 1012px 1572px var(--bg-secondary), 349px 1916px var(--bg-secondary), 905px 1339px var(
      --bg-secondary
    ), 1940px 1803px var(--bg-secondary), 23px 1159px var(--bg-secondary), 9px 1559px var(
      --bg-secondary
    ), 1658px 776px var(--bg-secondary), 820px 1361px var(--bg-secondary), 171px 983px var(
      --bg-secondary
    ), 580px 1902px var(--bg-secondary), 1268px 263px var(--bg-secondary), 1734px 994px var(
      --bg-secondary
    ), 1872px 29px var(--bg-secondary), 1475px 435px var(--bg-secondary);
}

#stars3 {
  position: fixed;
  width: 3px;
  height: 3px;
  border-radius: 1.5px;
  background: transparent;
  mix-blend-mode: screen;
  box-shadow:
    519px 875px var(--bg-secondary), 1497px 751px var(--bg-secondary), 1256px 88px var(
      --bg-secondary
    ), 1168px 1791px var(--bg-secondary), 1884px 109px var(--bg-secondary), 1465px 451px var(
      --bg-secondary
    ), 450px 370px var(--bg-secondary), 1560px 703px var(--bg-secondary), 1788px 1997px var(
      --bg-secondary
    ), 1047px 963px var(--bg-secondary), 1281px 119px var(--bg-secondary), 439px 96px var(
      --bg-secondary
    ), 164px 1956px var(--bg-secondary), 1360px 930px var(--bg-secondary), 1387px 347px var(
      --bg-secondary
    ), 1073px 1970px var(--bg-secondary), 1296px 284px var(--bg-secondary), 25px 1602px var(
      --bg-secondary
    ), 455px 944px var(--bg-secondary), 1177px 738px var(--bg-secondary), 633px 1142px var(
      --bg-secondary
    ), 1730px 1079px var(--bg-secondary), 1283px 1606px var(--bg-secondary), 674px 1186px var(
      --bg-secondary
    ), 513px 166px var(--bg-secondary), 1077px 636px var(--bg-secondary), 1811px 580px var(
      --bg-secondary
    ), 971px 1789px var(--bg-secondary), 694px 1756px var(--bg-secondary), 703px 1138px var(
      --bg-secondary
    ), 1290px 942px var(--bg-secondary), 351px 1509px var(--bg-secondary), 1904px 790px var(
      --bg-secondary
    ), 68px 819px var(--bg-secondary), 1097px 362px var(--bg-secondary), 1035px 331px var(
      --bg-secondary
    ), 180px 940px var(--bg-secondary), 1776px 1229px var(--bg-secondary), 1487px 781px var(
      --bg-secondary
    ), 1131px 1765px var(--bg-secondary), 1684px 536px var(--bg-secondary), 939px 367px var(
      --bg-secondary
    ), 1102px 1481px var(--bg-secondary), 741px 887px var(--bg-secondary), 167px 1132px var(
      --bg-secondary
    ), 1756px 529px var(--bg-secondary), 608px 758px var(--bg-secondary), 541px 1025px var(
      --bg-secondary
    ), 1976px 505px var(--bg-secondary), 1349px 1257px var(--bg-secondary), 815px 1388px var(
      --bg-secondary
    ), 505px 1351px var(--bg-secondary), 33px 1945px var(--bg-secondary), 861px 1695px var(
      --bg-secondary
    ), 678px 1360px var(--bg-secondary), 1615px 727px var(--bg-secondary), 1138px 726px var(
      --bg-secondary
    ), 30px 293px var(--bg-secondary), 1624px 1044px var(--bg-secondary), 683px 1242px var(
      --bg-secondary
    ), 1781px 1758px var(--bg-secondary), 906px 1328px var(--bg-secondary), 1066px 1764px var(
      --bg-secondary
    ), 1568px 664px var(--bg-secondary), 1027px 1876px var(--bg-secondary), 775px 1099px var(
      --bg-secondary
    ), 1605px 208px var(--bg-secondary), 730px 837px var(--bg-secondary), 1475px 1482px var(
      --bg-secondary
    ), 871px 1759px var(--bg-secondary), 1240px 15px var(--bg-secondary), 1987px 705px var(
      --bg-secondary
    ), 302px 1049px var(--bg-secondary), 475px 1015px var(--bg-secondary), 1843px 1296px var(
      --bg-secondary
    ), 493px 631px var(--bg-secondary), 1613px 164px var(--bg-secondary), 1863px 156px var(
      --bg-secondary
    ), 1479px 423px var(--bg-secondary), 202px 1499px var(--bg-secondary), 886px 969px var(
      --bg-secondary
    ), 904px 930px var(--bg-secondary), 1853px 535px var(--bg-secondary), 726px 914px var(
      --bg-secondary
    ), 435px 1205px var(--bg-secondary), 1732px 1824px var(--bg-secondary), 1212px 667px var(
      --bg-secondary
    ), 499px 31px var(--bg-secondary), 552px 594px var(--bg-secondary), 1715px 1814px var(
      --bg-secondary
    ), 775px 908px var(--bg-secondary), 1949px 921px var(--bg-secondary), 1267px 718px var(
      --bg-secondary
    ), 1830px 1960px var(--bg-secondary), 338px 1325px var(--bg-secondary), 466px 1120px var(
      --bg-secondary
    ), 140px 1675px var(--bg-secondary), 1919px 664px var(--bg-secondary), 1136px 771px var(
      --bg-secondary
    ), 1888px 1302px var(--bg-secondary);
  animation: star_anti 150s linear infinite;
}

@keyframes star_anti {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-2000px);
  }
}
