---
import Layout from "@/layouts/Layout.astro";
const mainVersion = "v2.7";
---

<Layout title="">
  <p>Redirecting to {mainVersion}...</p>
</Layout>

<script is:inline define:vars={{ mainVersion }}>
  window.location.pathname = `/${mainVersion}`;
</script>
