---
import Layout from "@/layouts/Layout.astro";
import { mainVersion, versions } from "@/versions";
---

<Layout title="差分宇宙 模拟工具">
  <p>All versions:</p>
  <ul>
    {versions.map(version => (
      <li><a href={`/${version}`}>{version}</a></li>
    ))}
  </ul>
  <p>Redirecting to {mainVersion}...</p>
</Layout>

<script is:inline define:vars={{ mainVersion }}>
  window.location.pathname = `/${mainVersion}`;
</script>
