---
import Layout from "@/layouts/Layout.astro";
import { mainVersion } from "@/versions";
---

<Layout title="差分宇宙 模拟工具">
  <p>Redirecting to {mainVersion}...</p>
</Layout>

<script is:inline define:vars={{ mainVersion }}>
  window.location.pathname = `/${mainVersion}`;
</script>
