---
import { TITAN } from './_data/titan'
import Layout from './_ui/Layout3-1.astro'
import TitanCard from './_ui/TitanCard.astro'
---

<Layout title="金血 差分宇宙模拟工具">
  <div class="grid grid-cols-1 gap-4">
    {TITAN.map(i => <TitanCard item={i} />)}
  </div>
</Layout>
