html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  color: var(--foreground);
}

body {
  background: url('/bg.webp') no-repeat center center;
  background-attachment: fixed;
  color-scheme: light dark;
}