---
interface Props {
  title: string;
}
import LayoutBase from "@/layouts/Layout.astro";
import Header from "./Header.astro";
const { title } = Astro.props;
---

<LayoutBase title={title}>
  <Header />
  <p class="text-sm text-fg-secondary text-center">施工中，数据为内测版本，可能会有较大变动，不保证准确</p>
  <slot />
</LayoutBase>
