---
import { Image } from 'astro:assets'
import { Fragment } from 'astro/jsx-runtime'
import clsx from 'clsx'
import type { TitanType } from '../_data/titan'

interface Props {
  item: TitanType
}

const { item } = Astro.props
---

<div class="bg-bg rounded p-4 border border-solid border-bg-secondary">
  <Image
    src={`/titan/${item.Img.replace('.png', '')}.webp`}
    alt={item.Titan}
    width="156.5"
    height="242.5"
    class={clsx("block mx-auto")}
  />
  <p class="font-bold text-center">{item.Titan}</p>
  {
    item.Blessings.map((i) => (
      <>
        <p class="font-bold">{i.Name}</p>
        <p set:html={i.Desc} class="text-sm text-fg-secondary" />
      </>
    ))
  }
</div>
